# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.ncb
*.user
*.suo
*.dep
*.idb
*.pdb
*.ilk
*.sws
*.pdsync
*.pdsyncu
*.manifest



# Libraries
#*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#other
*.h~
*.c~